force-app/main/default/flows/gwr_Create_Welcome_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Task_Action_2</name>
        <label>Send Capabilities Deck</label>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDateEnterprise</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <offset>0</offset>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </actionCalls>
    <actionCalls>
        <name>exec_brief</name>
        <label>Schedule Exec Briefing</label>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDateStrategic</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <offset>0</offset>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </actionCalls>
    <apiVersion>65</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>gwr_Check_Segment</name>
        <label>Check Segment</label>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Strategic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gwr_Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exec_brief</targetReference>
            </connector>
            <label>Strategic</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gwr_Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task_Action_2</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateEnterprise</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>DueDateStrategic</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Create Welcome Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Welcome Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <connector>
            <targetReference>gwr_Check_Segment</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </start>
    <status>Draft</status>
</Flow>
